<div class="container competence col-md-10 col-md-offset-1">
  <hr class="no-screen"/>
  <div class="title text-center wow fadeIn">
    <img class="no-print" src="{{ .Site.BaseURL }}images/skills.svg" alt="Skills"/>
    <h1>{{ i18n "skills" }}</h1>
  </div>
  {{ range where .Data.Pages.Reverse "Section" "competence" }}
      <div class="wow fadeIn">
        <h2><i class="fa-left-icon fa {{ .Params.fontawesome_icon }}"></i>{{ .Params.title }}</h2>
        <p>{{ .Params.description | markdownify }}
      </div>
  {{ end }}
</div>
