<div class="container col-md-10 col-md-offset-1 main-section">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="main-title animated fadeIn">
        <h2 class="text-uppercase">{{ .Site.Params.profile.first_name }}<strong>{{ .Site.Params.profile.last_name }}</strong></h2>

        <h1 class="text-uppercase">{{ .Site.Params.profile.tagline }}</h1>
        <ul>
          {{ if (isset .Site.Params.profile "phone") | and (not (eq .Site.Params.profile.phone "")) }}
            <li><i class="fa fa-whatsapp" aria-hidden="true"></i>{{ .Site.Params.profile.phone }} </li>
          {{ end }}
          {{ if (isset .Site.Params.profile "email") | and (not (eq .Site.Params.profile.email "")) }}
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:{{ .Site.Params.profile.email }}">{{ .Site.Params.profile.email }}</a>
            </li>
          {{ end }}
          {{ if (isset .Site.Params.profile "nationality") | and (not (eq .Site.Params.profile.nationality "")) }}
            <li><i class="fa fa-globe" aria-hidden="true"></i>{{ .Site.Params.profile.nationality }}</li>
          {{ end }}
          {{ if (isset .Site.Params.profile "birthday") | and (not (eq .Site.Params.profile.birthday "")) }}
            <li><i class="fa fa-birthday-cake" aria-hidden="true"></i>{{ .Site.Params.profile.birthday }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-right">
      <img class="img-responsive img-thumbnail" src="{{ .Site.Params.profile.picture }}" />
    </div>
  </div>
  <hr align="left">
  <p>{{ with .Site.Params.profile.summary }}{{ . | markdownify }}{{ end }}</p>
</div>
